@model CurricularUnitFormManager.Models.CurricularUnit.AbstractCurricularUnitForm

@{
    ViewBag.Title = "Cancel Proposal";
}
<h2>Cancel</h2>
<h2>ProposalCurricularUnitForm</h2>


<div class="container-fluid">
    <div class="content">
        <div class="clearfix">
        <h1>Unidade Curricular Cancelada</h1>
        </div>
    </div>
</div>