@*@using CurricularUnitFormManager.Models.CurricularUnit
@model IEnumerable<CUFNameURIModel>*@

@{
    ViewBag.Title = "ListProposalCUFs";
}

<h2>List of Proposal CUFs</h2>
@*@{Html.RenderPartial("_GenericList", Model);}*@