@using CurricularUnitFormManager.Models.CurricularUnit
@model CUFsListViewModel

@{
    ViewBag.Title = "List Proposal CUFs Versions";
}

<h2>List of Proposal CUFs Versions</h2>

@{Html.RenderPartial("_Page", Model);}