@using CurricularUnitFormManager.Models.CurricularUnit
@model CUFsListViewModel

@{
    ViewBag.Title = "Page List of Proposal CUFs";
}

<h2>Page List of Proposal CUFs</h2>

@{Html.RenderPartial("_Page", Model);}