@*@using CurricularUnitFormManager.Models.CurricularUnit
@model IEnumerable<CUFNameURIModel>*@

@{
    ViewBag.Title = "List Proposal CUFs Versions";
}

<h2>List of Proposal CUFs Versions</h2>
@*@{Html.RenderPartial("_GenericList", Model);}*@