@*@using CurricularUnitFormManager.Models.CurricularUnit
@model IEnumerable<CUFNameURIModel>*@

@{
    ViewBag.Title = "ListOfficialCUFs";
}

<h2>List of Official CUFs</h2>
@*@{Html.RenderPartial("_GenericList", Model);}*@
