@using CurricularUnitFormManager.Models.CurricularUnit
@model CUFsListViewModel

@{
    ViewBag.Title = "Page List of Official CUFs";
}

<h2>Page List of Official CUFs</h2>

@{Html.RenderPartial("_Page", Model);}